
include ../../_tableMixins

- const t = translations || {}
if pagexray.cookieNamesThirdParties.length > 0
    a#third-party-cookies
    h3 Third party cookies

    .responsive
    table(data-sortable, id='thirdPartyCookies')
        +rowHeading([t['table.cookieName'] || 'Cookie name', t['table.domain'] || 'Domain'])
        - let cookies = pagexray.cookieNamesThirdParties.filter((v,i,a)=>a.findIndex(t=>(t.name===v.name && t.domain === v.domain))===i)
        each cookie in cookies
            tr
                td(data-title=(t && t['table.cookieName']) ? t['table.cookieName'] : 'Name') #{cookie.name} 
                td.url(data-title=(t && t['table.domain']) ? t['table.domain'] : 'Domain') #{cookie.domain}
